.gifImage {
     /* height: 0;
     padding-bottom: 100%; */
     
     width: 100%;
     padding-top: 100%;
     position: relative;
}

.gifImage img {
     /* width: 100%; */
     position: absolute;
     top: 0;
     left: 0;
     bottom: 0;
     right:0;
}